<!DOCTYPE html>
<html>
<head>
  <title>Editables</title>
  <%= stylesheet_link_tag    "editables/application", :media => "all" %>
  <%= javascript_include_tag "editables/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
